<table id='periodic-table' class='table'>
  <thead>
    <tr>
      <th></th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
      <th>5</th>
      <th>6</th>
      <th>7</th>
      <th>8</th>
      <th>9</th>
      <th>10</th>
      <th>11</th>
      <th>12</th>
      <th>13</th>
      <th>14</th>
      <th>15</th>
      <th>16</th>
      <th>17</th>
      <th>18</th>
    </tr>
  </thead>
  <tbody>
    <tr class='period period1'>
      <td>1</td>
      <td class='group group1'>H</td>
      <td class='group'></td>
      <td class='group'></td>
      <td class='group'></td>
      <td class='group'></td>
      <td class='group'></td>
      <td class='group'></td>
      <td class='group'></td>
      <td class='group'></td>
      <td class='group'></td>
      <td class='group'></td>
      <td class='group'></td>
      <td class='group'></td>
      <td class='group'></td>
      <td class='group'></td>
      <td class='group'></td>
      <td class='group'></td>
      <td class='group group18'>He</td>
    </tr>
    <tr class='period period2'>
      <td>2</td>
      <td class='group group1'>Li</td>
      <td class='group group2'>Be</td>
      <td class='group'></td>
      <td class='group'></td>
      <td class='group'></td>
      <td class='group'></td>
      <td class='group'></td>
      <td class='group'></td>
      <td class='group'></td>
      <td class='group'></td>
      <td class='group'></td>
      <td class='group'></td>
      <td class='group group13'>B</td>
      <td class='group group14'>C</td>
      <td class='group group15'>N</td>
      <td class='group group16'>O</td>
      <td class='group group17'>F</td>
      <td class='group group18'>Ne</td>
    </tr>
    <tr class='period period3'>
      <td>3</td>
      <td class='group group1'>Na</td>
      <td class='group group2'>Mg</td>
      <td class='group'></td>
      <td class='group'></td>
      <td class='group'></td>
      <td class='group'></td>
      <td class='group'></td>
      <td class='group'></td>
      <td class='group'></td>
      <td class='group'></td>
      <td class='group'></td>
      <td class='group'></td>
      <td class='group group13'>Al</td>
      <td class='group group14'>Si</td>
      <td class='group group15'>P</td>
      <td class='group group16'>S</td>
      <td class='group group17'>Cl</td>
      <td class='group group18'>Ar</td>
    </tr>
    <tr class='period period4'>
      <td>4</td>
      <td class='group group1'>K</td>
      <td class='group group2'>Ca</td>
      <td class='group group3'>Sc</td>
      <td class='group group4'>Ti</td>
      <td class='group group5'>V</td>
      <td class='group group6'>Cr</td>
      <td class='group group7'>Mn</td>
      <td class='group group8'>Fe</td>
      <td class='group group9'>Co</td>
      <td class='group group10'>Ni</td>
      <td class='group group11'>Cu</td>
      <td class='group group12'>Zn</td>
      <td class='group group13'>Ga</td>
      <td class='group group14'>Ge</td>
      <td class='group group15'>As</td>
      <td class='group group16'>Se</td>
      <td class='group group17'>Br</td>
      <td class='group group18'>Kr</td>
    </tr>
    <tr class='period period5'>
      <td>5</td>
      <td class='group group1'>Rb</td>
      <td class='group group2'>Sr</td>
      <td class='group group3'>Y</td>
      <td class='group group4'>Zr</td>
      <td class='group group5'>Nb</td>
      <td class='group group6'>Mo</td>
      <td class='group group7'>Tc</td>
      <td class='group group8'>Ru</td>
      <td class='group group9'>Rh</td>
      <td class='group group10'>Pd</td>
      <td class='group group11'>Ag</td>
      <td class='group group12'>Cd</td>
      <td class='group group13'>In</td>
      <td class='group group14'>Sn</td>
      <td class='group group15'>Sb</td>
      <td class='group group16'>Te</td>
      <td class='group group17'>I</td>
      <td class='group group18'>Xe</td>
    </tr>
    <tr class='period period6'>
      <td>6</td>
      <td class='group group1'>Cs</td>
      <td class='group group2'>Ba</td>
      <td class='group group3'>57-71</td>
      <td class='group group4'>Hf</td>
      <td class='group group5'>Ta</td>
      <td class='group group6'>W</td>
      <td class='group group7'>Re</td>
      <td class='group group8'>Os</td>
      <td class='group group9'>Ir</td>
      <td class='group group10'>Pt</td>
      <td class='group group11'>Au</td>
      <td class='group group12'>Hg</td>
      <td class='group group13'>Tl</td>
      <td class='group group14'>Pb</td>
      <td class='group group15'>Bi</td>
      <td class='group group16'>Po</td>
      <td class='group group17'>At</td>
      <td class='group group18'>Rn</td>
    </tr>
    <tr class='period period7'>
      <td>7</td>
      <td class='group group1'>Fr</td>
      <td class='group group2'>Ra</td>
      <td class='group group3'>89-103</td>
      <td class='group group4'>Rf</td>
      <td class='group group5'>Db</td>
      <td class='group group6'>Sg</td>
      <td class='group group7'>Bh</td>
      <td class='group group8'>Hs</td>
      <td class='group group9'>Mt</td>
      <td class='group group10'>Ds</td>
      <td class='group group11'>Rg</td>
      <td class='group group12'>Cn</td>
      <td class='group group13'>Uut</td>
      <td class='group group14'>Fl</td>
      <td class='group group15'>Uup</td>
      <td class='group group16'>Lv</td>
      <td class='group group17'>Uus</td>
      <td class='group group18'>Uuo</td>
    </tr>
  </tbody>
</table>